<p>search-component works!</p>

<div class="mx-2 mb-20 flex gap-4">
    <app-input-field [type]="'text'" [placeholder]="'Enter Your Name'" [id]="'name'" [inputId]="'name'"
        [labelName]="'username'" [(value)]="name" class="flex-1">
    </app-input-field>
    
    <app-input-field [type]="'email'" [placeholder]="'Enter Your Email'" [id]="'email'" [inputId]="'email'"
        [labelName]="'Email'" [(value)]="email" class="flex-1" >
    </app-input-field>
    
    <app-input-field [type]="'number'" [placeholder]="'Enter Your Age'" [id]="'age'" [inputId]="'age'" [labelName]="'Age'"
        [(value)]="age" class="flex-1" >
    </app-input-field>
</div>


name: {{name}} |  email: {{email}} | Age: {{age}}

