<div class="flex flex-col">
    <label [for]="inputId" class="my-4 text-black">{{labelName}}</label>
    <input [type]="type" 
    [id]="inputId" 
    [name]="inputId" 
    
    [formControl]="control"
    [placeholder]="placeholder" class="border border-gray-400 px-4 py-1 rounded-md">
</div>
<!-- 
<div class="flex flex-col">
    <label [for]="inputId" class="my-4 text-black">{{labelName}}</label>
    <input [type]="type" [id]="inputId" [name]="inputId" [(ngModel)]="value" (ngModelChange)="onInputChange()"
        [formControl]="control" [placeholder]="placeholder" class="border border-gray-400 px-4 py-1 rounded-md">
</div> -->



